body{
    text-align: center;

}
#colorBox{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 0 auto;
}
#copyButton{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
}
#copyButton:hover{
    background-color: rgba(11, 144, 11, 0.905);
cursor: pointer;
}